[*.cs]

# ASP0014: Suggest using top level route registrations
dotnet_diagnostic.ASP0014.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none
