################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
bin
obj
*/.vs
*/bin
*/obj
*/TestResults
*/.vs/*
*/bin/*
*/obj/*
*/TestResults/*